<ion-view view-title="Out Door Duty Form">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Request To
                </div>
                <select>
                    <option selected>SandeepSahni</option>
                    <option >PiyushKapadia</option>
                    <option>AnjanChatterjee</option>
                </select>
            </label>
            <label class="item item-input">
                <input type="date" placeholder="From">
            </label>

            <label class="item item-input">
                <input type="date" placeholder="To">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Out Door Type
                </div>
                <select>
                    <option selected>Full Day</option>
                    <option >First Half</option>
                    <option>Second Half</option>
                </select>
            </label>
            <label class="item item-input">
                <textarea placeholder="Comments"></textarea>
            </label>
            <button class="button button-block">Submit Request</button>
        </div>
    </ion-content>
</ion-view>
