<ion-view view-title="leave">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">
                    Type of Leave
                </div>
                <select>
                    <option selected>EL</option>
                    <option >CL</option>
                    <option>PL</option>
                </select>
            </label>
            <label class="item item-input">
                <input type="date" placeholder="From">
            </label>
            <label class="item item-input">
                <input type="date" placeholder="To">
            </label>
            <label class="item item-input">
                <textarea placeholder="Comments"></textarea>
            </label>
            <button class="button button-block">Submit Leave</button>
        </div>
    </ion-content>
</ion-view>
